<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form action ="sign-car" method ="post">
  <table>
    <tr>
      <td><label >Car name</label></td>
      <td><label>
        <input type="text" name="name">
      </label></td>
    </tr>

    <tr>
      <td><label >Car price</label></td>
      <td><label>
        <input type="text" name="price">
      </label></td>
    </tr>

    <tr>
      <td></td>
      <td><input type="submit" name="Submit"></td>
    </tr>
  </table>

</form>
</body>
</html>